
{% extends 'base.html' %}
{% block body %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
        <!-- Page Title Section Start -->
        <div class="page-title-section section">
            <div class="page-title">

            </div>
            <div class="page-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home:index' %}">{% trans "Home" %}</a></li>
                        <li><a href="{% url 'get_involved:get_involved' %}">{% trans "Get involved" %}</a></li>
        
                        <li><a href="{% url 'get_involved:career_list' %}">{% trans "Careers" %}</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="section  fix">
            <div class="container">
                <div class="row max-mb-n50">

                    <div class="col-lg-12 col-12 order-lg-1 max-mb-50">
                        <!-- Blog Wrapper Start -->
                        <div class="row row-cols-1 g-0">

                            <!-- Blog Start -->
                            <div class=" col" data-aos="fade-up">


                                <!-- Page Banner Section Start -->
                                <div class="page-banner-section section overlay section-padding"
                                    data-bg-image="./assets/images/page-banner/course-bg.jpg">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="page-banner-title ashor-banner-title">
                                                    <h1 class="title"> {% if LANGUAGE_CODE == 'en' %} {{item.career_name}}
                                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.career_name_ar}} 
                                                        {% elif LANGUAGE_CODE == 'de' %} {{item.career_name_dr}}{% endif %}
                                                   

                                                    </h1>
                                                    <h4 class="sub-title" style="color: white;">  {% if LANGUAGE_CODE == 'en' %} {{item.career_employee_type}}
                                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.career_employee_type_ar}}  {% elif LANGUAGE_CODE == 'de' %} {{item.career_employee_type_dr}}{% endif %} . {% if LANGUAGE_CODE == 'en' %} {{item.job_type}}
                                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.job_type_ar}}{% elif LANGUAGE_CODE == 'de' %} {{item.job_type_dr}} {% endif %} {% if LANGUAGE_CODE == 'en' %} {{item.location}}
                                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.location_ar}}{% elif LANGUAGE_CODE == 'de' %} {{item.location_dr}} {% endif %}
                                                    </h4>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page Banner Section End -->



                            </div>
                        </div>
                    </div>
                    <!-- Blog End -->


                </div>
                <!-- Blog Wrapper End -->
            </div>


        </div>




        <div class="section section-padding-bottom" style="padding-top: 50px;">
            <div class="container">
                <div class="row max-mb-n50">

                    <div class="offset-lg-2 col-lg-8  order-lg-2 max-mb-50">
                        <div class="purchase-guide-wrapper">

                            <div class="content">
                                <h3 class="title">{% trans "Summary" %}</h3>

                                <p>{% if LANGUAGE_CODE == 'en' %} {{item.career_summary_text}}
                                    {% elif LANGUAGE_CODE == 'ar' %} {{item.career_summary_text_ar}} 
                                    {% elif LANGUAGE_CODE == 'de' %} {{item.career_summary_text_dr}}{% endif %}
                                </p>

                                <h3 class="title">DUTIES AND RESPONSIBILITIES
                                </h3>

                                <p>{% if LANGUAGE_CODE == 'en' %} {{item.career_duties_text}}
                                    {% elif LANGUAGE_CODE == 'ar' %} {{item.career_duties_text_ar}}
                                    {% elif LANGUAGE_CODE == 'de' %} {{item.career_duties_text_dr}} {% endif %}:</p>

                                <ul>
                                    <li>{% if LANGUAGE_CODE == 'en' %} {{item.duties_1}}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.duties_1_ar}} 
                                        {% elif LANGUAGE_CODE == 'de' %} {{item.duties_1_dr}}{% endif %}
                                    </li>
                                    <li>{% if LANGUAGE_CODE == 'en' %} {{item.duties_2}}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.duties_2_ar}}
                                        {% elif LANGUAGE_CODE == 'de' %} {{item.duties_2_dr}} {% endif %}
                                    </li>
                                    <li>{% if LANGUAGE_CODE == 'en' %} {{item.duties_3}}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.duties_3_ar}}
                                        {% elif LANGUAGE_CODE == 'de' %} {{item.duties_3_dr}} {% endif %}
                                    </li>
                                    <li>{% if LANGUAGE_CODE == 'en' %} {{item.duties_4}}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.duties_4_ar}}  {% elif LANGUAGE_CODE == 'de' %} {{item.duties_4_dr}} {% endif %}
                                    </li>
                                    <li>{% if LANGUAGE_CODE == 'en' %} {{item.duties_5}}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.duties_5_ar}}
                                        {% elif LANGUAGE_CODE == 'de' %} {{item.duties_5_dr}} {% endif %}
                                    </li>

                                </ul>

                                <h3 class="title">{% trans "SKILLS" %}
                                </h3>
                                <ul>
                                    <li>{% if LANGUAGE_CODE == 'en' %} {{item.skill_1}}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.skill_1_ar}} {% elif LANGUAGE_CODE == 'de' %} {{item.skill_1_dr}} {% endif %}
                                    </li>
                                    <li>{% if LANGUAGE_CODE == 'en' %} {{item.skill_2}}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.skill_2_ar}}{% elif LANGUAGE_CODE == 'de' %} {{item.skill_2_dr}} {% endif %}
                                    </li>
                                 
                                    <li>{% if LANGUAGE_CODE == 'en' %} {{item.skill_3}}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.skill_3_ar}}  {% elif LANGUAGE_CODE == 'de' %} {{item.skill_3_dr}}{% endif %}
                                    </li>
                                    <li>{% if LANGUAGE_CODE == 'en' %} {{item.skill_4}}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.skill_4_ar}}{% elif LANGUAGE_CODE == 'de' %} {{item.skill_4_dr}} {% endif %}
                                    </li>

                                </ul>

                                <div class="col-12 text-center max-mb-30">
                                    <a href="{% url 'get_involved:careerForm' item %}"> <button
                                            class="btn btn-primary btn-hover-secondary btn-width-200 btn-height-60">{% trans "SUBMIT FOR THIS POSITION" %}</button></a>
                                </div>
                            </div>
                        </div>
                        <!-- Purchase Guide Wrapper End -->
                    </div>



                </div>
            </div>
        </div>
        <div class="about-section section" style="padding: 50px;">
            <div class="container">


                <div class="row">
                    <div class="col-12">
                        <div class="event-content">





                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-padding-bottom" style="padding-top: 50px;">
            <div class="container">
    
                <!--  media Bar Start -->
                <div class="row justify-content-between align-items-center max-mb-20">
                    <div class="col-sm-auto col-12 max-mb-10">
                        <p class="result-count">{% trans "Latest Media" %}</p>
                    </div>
    
                </div>
                <!-- media Top Bar End -->
    
                <!-- media  Start -->
                <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1 max-mb-n30">
                    {% for item in media  %}
                    {% if forloop.counter < 5 %} 
                    <div class="col max-mb-30">
                        <div class="media-6">
                            <div class="thumbnail">
                                <a class="image" href="{% url 'media:media_detail' item.id %}">
                                    <img src="{{item.media_image.url}}" height="350px" style="object-fit: cover;" alt="">
                                    <div class="media-overlay-bg"></div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="media-caption-main">
                                    <a class="category" style="color: white;"> {% if LANGUAGE_CODE == 'en' %}{{ item.category.en_name }}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{ item.category.ar_name }}
                                        {% elif LANGUAGE_CODE == 'de' %} {{ item.category.dr_name }}{% endif %}</a>
                                    <ul class="meta">
                                        <li><i class="far fa-map-marker-alt"></i> {% if LANGUAGE_CODE == 'en' %}{{ item.media_location }}
                                            {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_location_ar }}
                                            {% elif LANGUAGE_CODE == 'de' %} {{ item.media_location_dr }}{% endif %}</li>
                                        <li><i class="far fa-calendar"></i>{{item.date|date:'d M o'}}</li>
                                    </ul>
                                    <h3 class="title"><a href="{% url 'media:media_detail' item.id %}"> {% if LANGUAGE_CODE == 'en' %}{{ item.media_name }}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_name_ar }}
                                        {% elif LANGUAGE_CODE == 'de' %} {{ item.media_name_dr }}{% endif %}</a></h3>
                                </div>
                                <div class="media-caption-collapse">
                                   
                                    <div class="desc">
                                        <p> {% if LANGUAGE_CODE == 'en' %}{{ item.media_desc1 }}
                                            {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_desc1_ar }}
                                            {% elif LANGUAGE_CODE == 'de' %} {{ item.media_desc1_dr }}{% endif %}…</p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                 
                    {% endif %} {% endfor %}
    
    
                </div>
                <!-- media  End -->
    
    
                <div class="row max-mt-50">
                    <div class="col text-center">
                        <a href="{% url 'media:media' %}" class="btn btn-outline-primary load-more-btn">{% trans "Read More" %} <i
                                class="far fa-long-arrow-right ms-3"></i></a>
                    </div>
                </div>
    
            </div>
        </div>
        {% endblock body %}
