
{% extends 'base.html' %}
{% block body %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
        <div class="page-title-section section">
            <div class="page-title">

            </div>
            <div class="page-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home:index' %}">{% trans "Home" %}</a></li>
                        <li><a href="{% url 'get_involved:get_involved' %}">{% trans "Get involved" %}</a></li>
        
                        <li class="current">{% trans "Donate" %}</li>

                    </ul>
                </div>
            </div>
        </div>

        <!-- Blog Section Start -->
        <div class="section  fix">
            <div class="container">
                <div class="row max-mb-n50">

                    <div class="col-lg-12 col-12 order-lg-1 max-mb-50">
                        <!-- Blog Wrapper Start -->
                        <div class="row row-cols-1 g-0">

                            <!-- Blog Start -->
                            <div class=" col" data-aos="fade-up">

                                {% for item in data %}

                                <!-- Page Banner Section Start -->
                                <div class="page-banner-section section overlay section-padding"
                                    data-bg-image="{{item.image_bg_donate}}">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="page-banner-title ashor-banner-title">
                                                    <h1 class="title" style="padding: 50px;">

                                                    </h1>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Page Banner Section End -->



                            </div>
                        </div>
                    </div>
                    <!-- Blog End -->


                </div>
                <!-- Blog Wrapper End -->

            </div>
            <!-- Course Details Section Start -->
            <div class="section section-padding">
                <div class="container">
                    <div class="row max-mb-n80">

                        <div class="offset-lg-2 col-lg-8 col-12 max-mb-50">
                            <!-- Course Details Wrapper Start -->
                            <div class="">


                                {% for item in data %}

                                <!-- Section Title Start -->
                                <div class="section-title text-left" data-aos="fade-up">
                                    <h3>Support us!
                                    </h3>
                                    <p>{% if LANGUAGE_CODE == 'en' %} {{item.donate_text_support}}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.donate_text_support_ar}} {% endif %}
</p>
                                    <p class="desc">
</p>

                                    <h3 class="title">{% if LANGUAGE_CODE == 'en' %} {{item.donate_title}}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{item.donate_title_ar}} {% endif %}
</h3>
                                    <ul class="maxcoach-list" style="padding-top: 20px;">
                                        <li class="item">
                                            <div class="icon">
                                                <i class="fas fa-check"></i>
                                            </div>
                                            <div class="text">{% if LANGUAGE_CODE == 'en' %} {{item.donate_benefi_1}}
                                                {% elif LANGUAGE_CODE == 'ar' %} {{item.donate_benefi_1_ar}} {% endif %}</div>

                                        </li>
                                        <li class="item">
                                            <div class="icon">
                                                <i class="fas fa-check"></i>
                                            </div>
                                            <div class="text">{% if LANGUAGE_CODE == 'en' %} {{item.donate_benefi_2}}
                                                {% elif LANGUAGE_CODE == 'ar' %} {{item.donate_benefi_2_ar}} {% endif %}

                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="icon">
                                                <i class="fas fa-check"></i>
                                            </div>
                                            <div class="text">{% if LANGUAGE_CODE == 'en' %} {{item.donate_benefi_3}}
                                                {% elif LANGUAGE_CODE == 'ar' %} {{item.donate_benefi_3_ar}} {% endif %}</div>

                                        </li>
                                        <li class="item">
                                            <div class="icon">
                                                <i class="fas fa-check"></i>
                                            </div>
                                            <div class="text">{% if LANGUAGE_CODE == 'en' %} {{item.donate_benefi_4}}
                                                {% elif LANGUAGE_CODE == 'ar' %} {{item.donate_benefi_4_ar}} {% endif %}</div>

                                            </div>
                                        </li>
                                    </ul>
                                    {% endfor %}

                                    <div class="col-12">


                                    

                                        <div class="checkout-section section section-padding-bottom">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12">
                                
                                                        <!-- Checkout Form Start-->
                                                        <form action="#" class="checkout-form">
                                                            <div class="row row-40">
                                                                <div class="checkout-payment-method">
                                                                    <div class="row">
                                                                        <label for="payment_check">{% trans "Please choose your amount" %}</label>
                        
                                                                        <div class="col-md-2 col-3 mb-20">
                                                                            <div class="single-method">
                                                                                <input type="radio" id="payment_check" name="payment-method"
                                                                                    value="check">
                                                                                <label for="payment_check">50$</label>
                        
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2 col-3 mb-20">
                                                                            <div class="single-method">
                                                                                <input type="radio" id="payment_bank" name="payment-method"
                                                                                    value="bank">
                                                                                <label for="payment_bank">100$</label>
                        
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2 col-3 mb-20">
                                                                            <div class="single-method">
                                                                                <input type="radio" id="payment_cash" name="payment-method"
                                                                                    value="cash">
                                                                                <label for="payment_cash">150$</label>
                        
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2 col-3 mb-20">
                                                                            <div class="single-method">
                                                                                <input type="radio" id="payment_paypal" name="payment-method"
                                                                                    value="paypal">
                                                                                <label for="payment_paypal">200$</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2 col-3 mb-20">
                                                                            <div class="single-method check-box">
                                                                                <input type="checkbox" id="shiping_address" data-shipping
                                                                                    value="payoneer">
                                                                                <label for="shiping_address">{% trans "Other" %}</label>
                                                                            </div>
                        
                                                                        </div>
                                                                        <div id="shipping-form">
                                                                            <h4 class="checkout-title"> </h4>
                            
                                                                            <div class="row">
                            
                                                                                <div class="col-md-6 col-12 mb-20">
                                                                                    <label></label>
                                                                                    <input type="text" placeholder="Please enter amount"
                                                                                        style="background-color: white;">
                                                                                </div>
                                                                            </div>
                            
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label for="payment_check" style="padding-top: 10px;">{% trans "Choose a frequency" %}
                                                                        </label>
                        
                                                                        <div class="col-md-2 col-6 mb-20">
                                                                            <div class="single-method">
                                                                                <input type="radio" id="payment_check" name="payment-method"
                                                                                    value="check">
                                                                                <label for="payment_check">{% trans "one time" %}</label>
                        
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2 col-6 mb-20">
                                                                            <div class="single-method">
                                                                                <input type="radio" id="payment_bank" name="payment-method"
                                                                                    value="bank">
                                                                                <label for="payment_bank">{% trans "monthly" %}
                        
                                                                                    </label>
                        
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2 col-6 mb-20">
                                                                            <div class="single-method">
                                                                                <input type="radio" id="payment_cash" name="payment-method"
                                                                                    value="cash">
                                                                                <label for="payment_cash">{% trans "yearly" %}</label>
                        
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                          
                        
                                                                </div>
                                                                <div class="col-lg-12">
                                
                                                                    <!-- Billing Address -->
                                                                    <div id="billing-form" class="mb-10">
                                                                        <h4 class="checkout-title" style="padding-top: 20px;">{% trans "Please fill in your contact data" %}</h4>
                                
                                                                        <div class="row">
                                
                                                                            <div class="col-md-6 col-12 mb-20">
                                                                                <label>{% trans "First Name" %}*</label>
                                                                                <input type="text" placeholder="First Name">
                                                                            </div>
                                
                                                                            <div class="col-md-6 col-12 mb-20">
                                                                                <label>{% trans "Last Name" %}*</label>
                                                                                <input type="text" placeholder="Last Name">
                                                                            </div>
                                
                                                                            <div class="col-md-6 col-12 mb-20">
                                                                                <label>{% trans "Email Address" %}*</label>
                                                                                <input type="email" placeholder="Email Address">
                                                                            </div>
                                
                                                                            <div class="col-md-6 col-12 mb-20">
                                                                                <label>{% trans "Phone no" %}*</label>
                                                                                <input type="text" placeholder="Phone number">
                                                                            </div>
                                
                                                                            <div class="col-12 mb-20">
                                                                                <label>{% trans "Company Name" %}</label>
                                                                                <input type="text" placeholder="Company Name">
                                                                            </div>
                                
                                                                            <div class="col-12 mb-20">
                                                                                <label>{% trans "Address" %}*</label>
                                                                                <input type="text" placeholder="Address line 1">
                                                                                <input type="text" placeholder="Address line 2">
                                                                            </div>
                                
                                                                            <div class="col-md-6 col-12 mb-20">
                                                                                <label>{% trans "Country" %}*</label>
                                                                                <select>
                                                                                    <option>{% trans "Afghanistan" %}</option>
                                                                                     <option>{% trans "Albania" %}</option>
                                                                                     <option>{% trans "Algeria" %}</option>
                                                                                     <option>{% trans "Andorra" %}</option>
                                                                                     <option>{% trans "Angola" %}</option>
                                                                                     <option>{% trans "Antigua and Barbuda" %}</option>
                                                                                     <option>{% trans "Argentina" %}</option>
                                                                                     <option>{% trans "Armenia" %}</option>
                                                                                     <option>{% trans "Australia" %}</option>
                                                                                     <option>{% trans "Austria" %}</option>
                                                                                     <option>{% trans "Azerbaijan" %}</option>
                                                                                     <option>{% trans "Bahamas" %}</option>
                                                                                     <option>{% trans "Bahrain" %}</option>
                                                                                     <option>{% trans "Bangladesh" %}</option>
                                                                                     <option>{% trans "Barbados" %}</option>
                                                                                     <option>{% trans "Belarus" %}</option>
                                                                                     <option>{% trans "Belgium" %}</option>
                                                                                     <option>{% trans "Belize" %}</option>
                                                                                     <option>{% trans "Benin" %}</option>
                                                                                     <option>{% trans "Bhutan" %}</option>
                                                                                     <option>{% trans "Bolivia" %}</option>
                                                                                     <option>{% trans "Bosnia and Herzegovina" %}</option>
                                                                                     <option>{% trans "Botswana" %}</option>
                                                                                     <option>{% trans "Brazil" %}</option>
                                                                                     <option>{% trans "Brunei" %}</option>
                                                                                     <option>{% trans "Bulgaria" %}</option>
                                                                                     <option>{% trans "Burkina Faso" %}</option>
                                                                                     <option>{% trans "Burundi" %}</option>
                                                                                     <option>{% trans "Cabo Verde" %}</option>
                                                                                     <option>{% trans "Cambodia" %}</option>
                                                                                     <option>{% trans "Cameroon" %}</option>
                                                                                     <option>{% trans "Canada" %}</option>
                                                                                     <option>{% trans "Central African Republic" %}</option>
                                                                                     <option>{% trans "Chad" %}</option>
                                                                                     <option>{% trans "Chile" %}</option>
                                                                                     <option>{% trans "China" %}</option>
                                                                                     <option>{% trans "Colombia" %}</option>
                                                                                     <option>{% trans "Comoros" %}</option>
                                                                                     <option>{% trans "Congo, Democratic Republic of the" %}</option>
                                                                                     <option>{% trans "Congo, Republic of the" %}</option>
                                                                                     <option>{% trans "Costa Rica" %}</option>
                                                                                     <option>{% trans "Cote d'Ivoire" %}</option>
                                                                                     <option>{% trans "Croatia" %}</option>
                                                                                     <option>{% trans "Cuba" %}</option>
                                                                                     <option>{% trans "Cyprus" %}</option>
                                                                                     <option>{% trans "Czech Republic" %}</option>
                                                                                     <option>{% trans "Denmark" %}</option>
                                                                                     <option>{% trans "Djibouti" %}</option>
                                                                                     <option>{% trans "Dominica" %}</option>
                                                                                     <option>{% trans "Dominican Republic" %}</option>
                                                                                     <option>{% trans "East Timor (Timor-Leste)" %}</option>
                                                                                     <option>{% trans "Ecuador" %}</option>
                                                                                     <option>{% trans "Egypt" %}</option>
                                                                                     <option>{% trans "El Salvador" %}</option>
                                                                                     <option>{% trans "Equatorial Guinea" %}</option>
                                                                                     <option>{% trans "Eritrea" %}</option>
                                                                                     <option>{% trans "Estonia" %}</option>
                                                                                     <option>{% trans "Eswatini" %}</option>
                                                                                     <option>{% trans "Ethiopia" %}</option>
                                                                                     <option>{% trans "Fiji" %}</option>
                                                                                     <option>{% trans "Finland" %}</option>
                                                                                     <option>{% trans "France" %}</option>
                                                                                     <option>{% trans "Gabon" %}</option>
                                                                                     <option>{% trans "Gambia" %}</option>
                                                                                     <option>{% trans "Georgia" %}</option>
                                                                                     <option>{% trans "Germany" %}</option>
                                                                                     <option>{% trans "Ghana" %}</option>
                                                                                     <option>{% trans "Greece" %}</option>
                                                                                     <option>{% trans "Grenada" %}</option>
                                                                                     <option>{% trans "Guatemala" %}</option>
                                                                                     <option>{% trans "Guinea" %}</option>
                                                                                     <option>{% trans "Guinea-Bissau" %}</option>
                                                                                     <option>{% trans "Guyana" %}</option>
                                                                                     <option>{% trans "Haiti" %}</option>
                                                                                     <option>{% trans "Honduras" %}</option>
                                                                                     <option>{% trans "Hungary" %}</option>
                                                                                     <option>{% trans "Iceland" %}</option>
                                                                                     <option>{% trans "India" %}</option>
                                                                                     <option>{% trans "Indonesia" %}</option>
                                                                                     <option>{% trans "Iran" %}</option>
                                                                                     <option>{% trans "Iraq" %}</option>
                                                                                     <option>{% trans "Ireland" %}</option>
                                                                                     <option>{% trans "Israel" %}</option>
                                                                                     <option>{% trans "Italy" %}</option>
                                                                                     <option>{% trans "Jamaica" %}</option>
                                                                                     <option>{% trans "Japan" %}</option>
                                                                                     <option>{% trans "Jordan" %}</option>
                                                                                     <option>{% trans "Kazakhstan" %}</option>
                                                                                     <option>{% trans "Kenya" %}</option>
                                                                                     <option>{% trans "Kiribati" %}</option>
                                                                                     <option>{% trans "Korea, North" %}</option>
                                                                                     <option>{% trans "Korea, South" %}</option>
                                                                                     <option>{% trans "Kosovo" %}</option>
                                                                                     <option>{% trans "Kuwait" %}</option>
                                                                                     <option>{% trans "Kyrgyzstan" %}</option>
                                                                                     <option>{% trans "Laos" %}</option>
                                                                                     <option>{% trans "Latvia" %}</option>
                                                                                     <option>{% trans "Lebanon" %}</option>
                                                                                     <option>{% trans "Lesotho" %}</option>
                                                                                     <option>{% trans "Liberia" %}</option>
                                                                                     <option>{% trans "Libya" %}</option>
                                                                                     <option>{% trans "Liechtenstein" %}</option>
                                                                                     <option>{% trans "Lithuania" %}</option>
                                                                                     <option>{% trans "Luxembourg" %}</option>
                                                                                     <option>{% trans "Madagascar" %}</option>
    
                                                                                </select>
                                                                            </div>
                                
                                                                            <div class="col-md-6 col-12 mb-20">
                                                                                <label>{% trans "Town/City" %}*</label>
                                                                                <input type="text" placeholder="Town/City">
                                                                            </div>
                                
                                                                            <div class="col-md-6 col-12 mb-20">
                                                                                <label>{% trans "State" %}*</label>
                                                                                <input type="text" placeholder="State">
                                                                            </div>
                                
                                                                            <div class="col-md-6 col-12 mb-20">
                                                                                <label>{% trans "Zip Code" %}*</label>
                                                                                <input type="text" placeholder="Zip Code">
                                                                            </div>
                                
                                                                          
                                
                                                                        </div>
                                
                                                                    </div>
                                
                                
                                                                </div>
                                
                                                               
                                                            </div>
                                                        </form>
                                
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-hover-secondary btn-width-100 ">{% trans "DONATE" %}</button>
                                    </div>

                                   

                                </div>
                            </div>
                       
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="about-section section" style="padding: 50px;">
            <div class="container">
    
    
                <div class="row">
                    <div class="col-12">
                        <div class="event-content">
    
    
    
    
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-padding-bottom" style="padding-top: 50px;">
            <div class="container">
    
                <!--  media Bar Start -->
                <div class="row justify-content-between align-items-center max-mb-20">
                    <div class="col-sm-auto col-12 max-mb-10">
                        <p class="result-count">{% trans "Latest Media" %}</p>
                    </div>
    
                </div>
                <!-- media Top Bar End -->
    
                <!-- media  Start -->
                <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1 max-mb-n30">
                    {% for item in media  %}
                    {% if forloop.counter < 5 %} 
                    <div class="col max-mb-30">
                        <div class="media-6">
                            <div class="thumbnail">
                                <a class="image" href="{% url 'media:media_detail' item.id %}">
                                    <img src="{{item.media_image.url}}" height="350px" style="object-fit: cover;" alt="">
                                    <div class="media-overlay-bg"></div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="media-caption-main">
                                    <a class="category" style="color: white;"> {% if LANGUAGE_CODE == 'en' %}{{ blog.category.en_name }}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{ blog.category.ar_name }}{% endif %}</a>
                                    <ul class="meta">
                                        <li><i class="far fa-map-marker-alt"></i> {% if LANGUAGE_CODE == 'en' %}{{ item.media_location }}
                                            {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_location_ar }}{% endif %}</li>
                                        <li><i class="far fa-calendar"></i>{{item.date|date:'d M o'}}</li>
                                    </ul>
                                    <h3 class="title"><a href="{% url 'media:media_detail' item.id %}"> {% if LANGUAGE_CODE == 'en' %}{{ item.media_name }}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_name }}{% endif %}</a></h3>
                                </div>
                                <div class="media-caption-collapse">
                                   
                                    <div class="desc">
                                        <p> {% if LANGUAGE_CODE == 'en' %}{{ item.media_desc1 }}
                                            {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_desc1 }}{% endif %}…</p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                 
                    {% endif %} {% endfor %}
    
    
                </div>
                <!-- media  End -->
    
    
                <div class="row max-mt-50">
                    <div class="col text-center">
                        <a href="{% url 'media:media' %}" class="btn btn-outline-primary load-more-btn">{% trans "Read More" %} <i
                                class="far fa-long-arrow-right ms-3"></i></a>
                    </div>
                </div>
    
            </div>
        </div>

        {% endblock body %}
