<!DOCTYPE html>
<html>
<head>
  <title>Google Maps with Bootstrap</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    #map {
      height: 400px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Google Maps with Bootstrap</h1>
    <div id="map"></div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
</body>
</html>
<script>
    function initMap() {
      // Create a map object
      var map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 37.7749, lng: -122.4194 }, // Set the center point of the map
        zoom: 12 // Set the zoom level
      });
  
      // Create marker 1
      var marker1 = new google.maps.Marker({
        position: { lat: 37.7749, lng: -122.4194 }, // Set the marker position
        map: map, // Assign the marker to the map
        title: 'Marker 1' // Set the marker title (tooltip)
      });
  
      // Create marker 2
      var marker2 = new google.maps.Marker({
        position: { lat: 37.7831, lng: -122.4039 },
        map: map,
        title: 'Marker 2'
      });
  
      // Create marker 3
      var marker3 = new google.maps.Marker({
        position: { lat: 37.7914, lng: -122.4086 },
        map: map,
        title: 'Marker 3'
      });
    }
  </script>
  