{% extends 'base.html' %}
{% block body %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="page-title-section section">
    <div class="page-title">

    </div>
    <div class="page-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home:index' %}">Home</a></li>
                <li><a href="{% url 'about:about' %}">About Ashor</a></li>

                <li class="current">Vission & Mission</li>

            </ul>
        </div>
    </div>
</div>
<!-- Page Title Section End -->
<!-- Blog Section Start -->
{% for item in data %}

<div class="section  fix">
    <div class="container">
        <div class="row max-mb-n50">

            <div class="col-lg-12 col-12 order-lg-1 max-mb-50">
                <!-- Blog Wrapper Start -->
                <div class="row row-cols-1 g-0">

                    <!-- Blog Start -->
                    <div class=" col" data-aos="fade-up">


                        <!-- Page Banner Section Start -->
                        <div class="page-banner-section section overlay section-padding"
                            data-bg-image="{{ item.image_bg_vission_mission}}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-banner-title ashor-banner-title">

                                            <h1 class="title" style="padding: 50px;">
                                            </h1>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page Banner Section End -->



                    </div>
                </div>
            </div>
            <!-- Blog End -->


        </div>
        <!-- Blog Wrapper End -->
    </div>


</div>
<div class="section  fix">
    <div class="container">
        <div class="row max-mb-n80">

            <div class="col-lg-12 col-12 max-mb-50">
                <!-- Blog Wrapper Start -->
                <div class="row row-cols-1 g-0">


                    <p style="padding-top: 50px;"> </p>
                    <div class="success-faq-section section ">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="success-faq-area">

                                        <div class="single-success-faq">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="success-faq-heading">
                                                        <div class="icon">
                                                            <i class="far fa-long-arrow-right"></i>
                                                        </div>
                                                        <div class="text-wrap">
                                                            <h4>Ashor Vission </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="success-faq-content">
                                                        <div class="icon">
                                                            <i class="far fa-check"></i>
                                                        </div>
                                                        <div class="text-wrap">
                                                            <p> {% if LANGUAGE_CODE == 'en' %}{{item.Vission_desc}}
                                                                {% elif LANGUAGE_CODE == 'ar'
                                                                %}{{item.Vission_desc_ar}}{% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="single-success-faq">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="success-faq-heading">
                                                        <div class="icon">
                                                            <i class="far fa-long-arrow-right"></i>
                                                        </div>
                                                        <div class="text-wrap">
                                                            <h4>Ashor Mission</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="success-faq-content">
                                                        <div class="icon">
                                                            <i class="far fa-check"></i>
                                                        </div>
                                                        <div class="text-wrap">
                                                            <p> {% if LANGUAGE_CODE == 'en' %}{{item.mission_desc}}
                                                                {% elif LANGUAGE_CODE == 'ar'
                                                                %}{{item.mission_desc_ar}}{% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<div class="about-section section" style="padding: 50px;">
    <div class="container">


        <div class="row">
            <div class="col-12">
                <div class="event-content">





                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-padding-bottom" style="padding-top: 50px;">
    <div class="container">

        <!--  media Bar Start -->
        <div class="row justify-content-between align-items-center max-mb-20">
            <div class="col-sm-auto col-12 max-mb-10">
                <p class="result-count">Latest Media</p>
            </div>

        </div>
        <!-- media Top Bar End -->

        <!-- media  Start -->
        <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1 max-mb-n30">

            <div class="col max-mb-30">
                <div class="media-6">
                    <div class="thumbnail">
                        <a class="image" href="media-details.html">
                            <img src="assets/images/courses/385/course-2.jpg" alt="">
                            <div class="media-overlay-bg"></div>
                        </a>
                    </div>
                    <div class="info">
                        <div class="media-caption-main">
                            <a class="category" style="color: white;">Articles & Tips</a>
                            <ul class="meta">
                                <li><i class="far fa-map-marker-alt"></i>Ninewa Governorate</li>
                                <li><i class="far fa-calendar"></i>12 Nov 2022 </li>
                            </ul>
                            <h3 class="title"><a href="media-details.html">Organization and delivery of vocational
                                    training </a></h3>
                        </div>
                        <div class="media-caption-collapse">

                            <div class="desc">
                                <p>The purpose of this course is to provide the advanced writing techniques commonly
                                    used for inspiring readers and …</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col max-mb-30">
                <div class="media-6">
                    <div class="thumbnail">
                        <a class="image" href="media-details.html">
                            <img src="assets/images/courses/385/course-2.jpg" alt="">
                            <div class="media-overlay-bg"></div>
                        </a>
                    </div>
                    <div class="info">
                        <div class="media-caption-main">
                            <a class="category" style="color: white;">Articles & Tips</a>
                            <ul class="meta">
                                <li><i class="far fa-map-marker-alt"></i>Ninewa Governorate</li>
                                <li><i class="far fa-calendar"></i>12 Nov 2022 </li>
                            </ul>
                            <h3 class="title"><a href="media-details.html">Organization and delivery of vocational
                                    training </a></h3>
                        </div>
                        <div class="media-caption-collapse">

                            <div class="desc">
                                <p>The purpose of this course is to provide the advanced writing techniques commonly
                                    used for inspiring readers and …</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col max-mb-30">
                <div class="media-6">
                    <div class="thumbnail">
                        <a class="image" href="media-details.html">
                            <img src="assets/images/courses/385/course-2.jpg" alt="">
                            <div class="media-overlay-bg"></div>
                        </a>
                    </div>
                    <div class="info">
                        <div class="media-caption-main">
                            <a class="category" style="color: white;">Articles & Tips</a>
                            <ul class="meta">
                                <li><i class="far fa-map-marker-alt"></i>Ninewa Governorate</li>
                                <li><i class="far fa-calendar"></i>12 Nov 2022 </li>
                            </ul>
                            <h3 class="title"><a href="media-details.html">Organization and delivery of vocational
                                    training </a></h3>
                        </div>
                        <div class="media-caption-collapse">

                            <div class="desc">
                                <p>The purpose of this course is to provide the advanced writing techniques commonly
                                    used for inspiring readers and …</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col max-mb-30">
                <div class="media-6">
                    <div class="thumbnail">
                        <a class="image" href="media-details.html">
                            <img src="assets/images/courses/385/course-2.jpg" alt="">
                            <div class="media-overlay-bg"></div>
                        </a>
                    </div>
                    <div class="info">
                        <div class="media-caption-main">
                            <a class="category" style="color: white;">Articles & Tips</a>
                            <ul class="meta">
                                <li><i class="far fa-map-marker-alt"></i>Ninewa Governorate</li>
                                <li><i class="far fa-calendar"></i>12 Nov 2022 </li>
                            </ul>
                            <h3 class="title"><a href="media-details.html">Organization and delivery of vocational
                                    training </a></h3>
                        </div>
                        <div class="media-caption-collapse">

                            <div class="desc">
                                <p>The purpose of this course is to provide the advanced writing techniques commonly
                                    used for inspiring readers and …</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <!-- media  End -->


        <div class="row max-mt-50">
            <div class="col text-center">
                <a href="JavaScript:Void(0);" class="btn btn-outline-primary load-more-btn">Read More <i
                        class="far fa-long-arrow-right ms-3"></i></a>
            </div>
        </div>

    </div>
</div>
<!-- media Section End -->
{% endblock body %}