{% extends 'base.html' %}
{% block body %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
        <!-- Header Section End -->
        <div class="page-title-section section">
            <div class="page-title">
        
            </div>
            <div class="page-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home:index' %}">{% trans "Home" %}</a></li>
                        <li><a href="{% url 'about:about' %}">{% trans "About Ashor" %}</a></li>
        
                        <li class="current">{% trans "Where we work" %}</li>
        
                    </ul>
                </div>
            </div>
        </div>
    
        <!-- Blog Section Start -->
        <div class="section  fix">
            <div class="container">
                <div class="row max-mb-n50">
                    {% for item in data %}

                    <div class="col-lg-12 col-12 order-lg-1 max-mb-50">
                        <!-- Blog Wrapper Start -->
                        <div class="row row-cols-1 g-0">

                            <!-- Blog Start -->
                            <div class=" col" data-aos="fade-up">


                                <!-- Page Banner Section Start -->
                                <div class="page-banner-section section overlay section-padding"
                                    data-bg-image="{{ item.image_banner_where_we_work}}">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="page-banner-title ashor-banner-title">
                                                    <h1 class="title" style="padding: 50px;">
                                                    </h1>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page Banner Section End -->



                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
                <!-- Blog Wrapper End -->
            </div>


        </div>

   

        <div class="about-video-section section position-relative section-padding-top section-padding-bottom-160">

            <div class="container">

                <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 ">
                    <div class="col max-mb-60" data-aos="fade-up">
                        <div class="about-content ">
                            <span class="sub-title" style="text-align: center;">{% trans "Adress" %} <strong>1</strong></span>
                            <h2 class="title" style="font-size: 25px;text-align: center;"> Kirkuk <span>Soma city </span>
                            </h2>
                   


                        </div>
                    </div>
              
                    <div class="col max-mb-60" data-aos="fade-up">
                        <div class="about-content ">
                            <span class="sub-title" style="text-align: center;">{% trans "Adress" %} <strong>2</strong></span>
                            <h2 class="title" style="font-size: 25px;text-align: center;"> Erbil <span>Goverment </span>
                            </h2>
                   


                        </div>
                    </div>
                    <div class="col max-mb-60" data-aos="fade-up">
                        <div class="about-content ">
                            <span class="sub-title" style="text-align: center;">{% trans "Adress" %} <strong>3</strong></span>
                            <h2 class="title" style="font-size: 25px;text-align: center;"> Salah Al-Din <span>Goverment </span>
                            </h2>
                   


                        </div>
                    </div>
                    <div class="col max-mb-60" data-aos="fade-up">
                        <div class="about-content ">
                            <span class="sub-title" style="text-align: center;">{% trans "Adress" %} <strong>4</strong></span>
                            <h2 class="title" style="font-size: 25px;text-align: center;"> Ninewa <span>( Talafer and Mosul city) </span>
                            </h2>
                   


                        </div>
                    </div>
                    <div class="col max-mb-60" data-aos="fade-up">
                        <div class="about-content ">
                            <span class="sub-title" style="text-align: center;">{% trans "Adress" %} <strong>5</strong></span>
                            <h2 class="title" style="font-size: 25px;text-align: center;"> Anbar <span>Goverment </span>
                            </h2>
                   


                        </div>
                    </div>

                    <div class="col max-mb-60" data-aos="fade-up">
                        <div class="about-content ">
                            <span class="sub-title" style="text-align: center;">{% trans "Adress" %} <strong>6</strong></span>
                            <h2 class="title" style="font-size: 25px;text-align: center;"> Basra <span>Goverment </span>
                            </h2>
                   


                        </div>
                    </div>
                </div>
                <div class="col-12 max-mb-60" data-aos="fade-up">
                    <div class="about-content ">
                        <div class="google-map-area section" style="text-align: center;">
                            <div class="container">
                                <div class="contact-map-area">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3248.039844998417!2d44.428744075090044!3d35.50329297264508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzXCsDMwJzExLjkiTiA0NMKwMjUnNTIuOCJF!5e0!3m2!1sen!2siq!4v1688228589731!5m2!1sen!2siq" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>



        </div>



    </div>
    <div class="about-section section" style="padding: 50px;">
        <div class="container">


            <div class="row">
                <div class="col-12">
                    <div class="event-content">





                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-padding-bottom" style="padding-top: 50px;">
        <div class="container">

            <!--  media Bar Start -->
            <div class="row justify-content-between align-items-center max-mb-20">
                <div class="col-sm-auto col-12 max-mb-10">
                    <p class="result-count">{% trans "Latest Media" %}</p>
                </div>

            </div>
            <!-- media Top Bar End -->

            <!-- media  Start -->
            <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1 max-mb-n30">
                {% for item in media  %}
                {% if forloop.counter < 5 %} 
                <div class="col max-mb-30">
                    <div class="media-6">
                        <div class="thumbnail">
                            <a class="image" href="{% url 'media:media_detail' item.id %}">
                                <img src="{{item.media_image.url}}" height="350px" style="object-fit: cover;" alt="">
                                <div class="media-overlay-bg"></div>
                            </a>
                        </div>
                        <div class="info">
                            <div class="media-caption-main">
                                <a class="category" style="color: white;"> {% if LANGUAGE_CODE == 'en' %}{{ item.category.en_name }}
                                    {% elif LANGUAGE_CODE == 'ar' %} {{ item.category.ar_name }}
                                    {% elif LANGUAGE_CODE == 'de' %} {{ item.category.dr_name }}{% endif %}</a>
                                <ul class="meta">
                                    <li><i class="far fa-map-marker-alt"></i> {% if LANGUAGE_CODE == 'en' %}{{ item.media_location }}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_location_ar }}
                                        {% elif LANGUAGE_CODE == 'de' %} {{ item.media_location_dr }}{% endif %}</li>
                                    <li><i class="far fa-calendar"></i>{{item.date|date:'d M o'}}</li>
                                </ul>
                                <h3 class="title"><a href="{% url 'media:media_detail' item.id %}"> {% if LANGUAGE_CODE == 'en' %}{{ item.media_name }}
                                    {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_name_ar }}
                                    {% elif LANGUAGE_CODE == 'de' %} {{ item.media_name_dr }}{% endif %}</a></h3>
                            </div>
                            <div class="media-caption-collapse">
                               
                                <div class="desc">
                                    <p> {% if LANGUAGE_CODE == 'en' %}{{ item.media_desc1 }}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_desc1_ar }}
                                        {% elif LANGUAGE_CODE == 'de' %} {{ item.media_desc1_dr }}{% endif %}…</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
             
                {% endif %} {% endfor %}


            </div>
            <!-- media  End -->


            <div class="row max-mt-50">
                <div class="col text-center">
                    <a href="{% url 'media:media' %}" class="btn btn-outline-primary load-more-btn">{% trans "Read More" %} <i
                            class="far fa-long-arrow-right ms-3"></i></a>
                </div>
            </div>

        </div>
    </div>
    <!-- media Section End -->
    {% endblock body %}
