{% extends 'base.html' %}
{% block body %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
        <div class="page-title-section section">
            <div class="page-title">

            </div>
            <div class="page-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home:index' %}">Home</a></li>
        
                        <li class="current">Media</li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Title Section End -->


        <!-- About Event Section Start -->
        <div class="about-event-section section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Section Title Start -->
                        <div class="section-title text-center" data-aos="fade-up">

                            <h2 class="title fz-12 heading-color">{% if LANGUAGE_CODE == 'en' %}{{ item.media_name }}
                                {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_name }}{% endif %}</h2>
                            <div class="event-entry-meta">
                                <div class="meta-item">
                                    <i class="meta-icon fal fa-map-marker-alt"></i>
                                    <span> {% if LANGUAGE_CODE == 'en' %}{{ item.media_location }}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_location_ar }}{% endif %}</span>
                                </div>

                                <div class="meta-item">
                                    <i class="meta-icon fal fa-calendar"></i>
                                    <span>{{ item.date }}</span>
                                </div>


                            </div>





                        </div>

                    </div>
                    <div class=" col" data-aos="fade-up">


                        <!-- Page Banner Section Start -->
                        <div class="page-banner-section section overlay section-padding"
                            data-bg-image="{{ item.media_image.url }}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-banner-title ashor-banner-title">
                                            <h1 class="title" style="padding: 50px;">
                                            </h1>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page Banner Section End -->



                    </div>
                </div>

            </div>
        </div>
        <!-- About Event Section End -->


        <!-- Blog Section Start -->
        <div class="section  fix">
            <div class="container">
                <div class="row ">

                    <div class="col-lg-12 col-12 ">
                        <!-- Blog Wrapper Start -->
                        <div class="row row-cols-1 ">

                            <!-- Blog Start -->
                            <div class="blog-3 blog-details col" data-aos="fade-up">


                                <div class="info">
                                    <div class="desc">
                                        <p>{% if LANGUAGE_CODE == 'en' %}{{ item.media_desc1 }}
                                            {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_desc1 }}{% endif %}</p>

           
                                        <blockquote class="block-quote">
                                            <p>{% if LANGUAGE_CODE == 'en' %}{{ item.media_desc2 }}
                                                {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_desc2 }}{% endif %}</p>
                                        </blockquote>

                                        <p>{% if LANGUAGE_CODE == 'en' %}{{ item.media_desc3 }}
                                            {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_desc3 }}{% endif %}</p>

                                    </div>

                                    <div class="row justify-content-between align-items-center max-mt-50">
                                        <div class="col-auto">
                                            <div class="entry-post-tags">
                                                <div class="tag-label">
                                                    <span class="tag-icon far fa-tags"></span>
                                                </div>
                                                <div class="tag">
                                                    <a href="#"> {% if LANGUAGE_CODE == 'en' %}{{ item.category.en_name }}
                                                        {% elif LANGUAGE_CODE == 'ar' %} {{ item.category.ar_name }}{% endif %} </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="post-share">
                                                <span class="label">Share this post</span>
                                                <div class="media">
                                                    <span class="icon"><i class="fas fa-share-alt"></i></span>
                                                    <div class="list">
                                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                                        <a href="#"><i class="fab fa-linkedin"></i></a>
                                                        <a href="#"><i class="fab fa-tumblr-square"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Blog End -->


                    </div>
                    <!-- Blog Wrapper End -->
                </div>



            </div>
        </div>
    </div>
    <div class="section section-padding-bottom" style="padding-top: 50px;">
        <div class="container">

            <!--  media Bar Start -->
            <div class="row justify-content-between align-items-center max-mb-20">
                <div class="col-sm-auto col-12 max-mb-10">
                    <p class="result-count">Latest Media</p>
                </div>

            </div>
            <!-- media Top Bar End -->

            <!-- media  Start -->
            <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1 max-mb-n30">
                {% for item in medias  %}
                {% if forloop.counter < 5 %} 
                <div class="col max-mb-30">
                    <div class="media-6">
                        <div class="thumbnail">
                            <a class="image" href="{% url 'media:media_detail' item.id %}">
                                <img src="{{item.media_image.url}}" height="350px" style="object-fit: cover;" alt="">
                                <div class="media-overlay-bg"></div>
                            </a>
                        </div>
                        <div class="info">
                            <div class="media-caption-main">
                                <a class="category" style="color: white;"> {% if LANGUAGE_CODE == 'en' %}{{ blog.category.en_name }}
                                    {% elif LANGUAGE_CODE == 'ar' %} {{ blog.category.ar_name }}{% endif %}</a>
                                <ul class="meta">
                                    <li><i class="far fa-map-marker-alt"></i> {% if LANGUAGE_CODE == 'en' %}{{ item.media_location }}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_location_ar }}{% endif %}</li>
                                    <li><i class="far fa-calendar"></i>{{item.date|date:'d M o'}}</li>
                                </ul>
                                <h3 class="title"><a href="{% url 'media:media_detail' item.id %}"> {% if LANGUAGE_CODE == 'en' %}{{ item.media_name }}
                                    {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_name_ar }}{% endif %}</a></h3>
                            </div>
                            <div class="media-caption-collapse">
                               
                                <div class="desc">
                                    <p> {% if LANGUAGE_CODE == 'en' %}{{ item.media_desc1 }}
                                        {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_desc1_ar }}{% endif %}…</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
             
                {% endif %} {% endfor %}


            </div>
            <!-- media  End -->



        </div>
    </div>
    {% endblock body %}