{% extends 'base.html' %}
{% block body %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

          <!-- Page Title Section Start -->
          <div class="page-title-section section">
            <div class="page-title">

            </div>
            <div class="page-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html">Ashor themes</a></li>


                        <li class="current">Projects</li>
                    </ul>
                </div>
            </div>
        </div>
       
        <!-- Page Title Section End -->
        <div class="section  fix">
            <div class="container">
                <div class="row max-mb-n50">
        
                    <div class="col-lg-12 col-12 order-lg-1 max-mb-50">
                        <!-- Blog Wrapper Start -->
                        <div class="row row-cols-1 g-0">
        
                            <!-- Blog Start -->
                            <div class=" col" data-aos="fade-up">
        
        
                                <!-- Page Banner Section Start -->
                                <div class="page-banner-section section overlay section-padding"
                                    data-bg-image="./assets/images/page-banner/course-bg.jpg">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="page-banner-title course-banner-title">
                                                    <h1 class="title" style="padding: 50px;">
                                                    </h1>
                                                </div>
        
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page Banner Section End -->
        
        
        
                            </div>
                        </div>
                    </div>
                    <!-- Blog End -->
        
        
                </div>
                <!-- Blog Wrapper End -->
            </div>
        
        
        </div>
      <class class="row col" style="padding: 40px;">

      </class>
    
        <div class="section" >
            <div class="container">
                <div class="row max-mb-n50">

                    <div class="offset-lg col-lg-12 col-12 max-mb-50">
                        <!-- Course Details Wrapper Start -->
                        <div class="course-details-wrapper">
                            <div class="course-nav-tab">
                                <ul class="nav justify-content-center">
                                    <li><a class="active" data-bs-toggle="tab" href="#pastproject">Past project</a></li>
                                    <li><a data-bs-toggle="tab" href="#currentproject">Current project</a></li>
                            
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div id="pastproject" class="tab-pane fade show active">
                                    <div class="course-overview">
                                        <div class="container">

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="mx-timeline">
                                                        <ul class="mx-timeline-list mx-animation-queue">
                                                           
                                                            <li class="line"></li>
                                                            <li class="item animate">
                                                                <div class="dots">
                                                                    <div class="middle-dot"></div>
                                                                </div>
                            
                                                                <div class="row">
                                                                    
                                                                    <div class="col-lg-6 col-md-6 timeline-col left timeline-feature">
                                                                        <div class="inner">
                                                                            <div class="title-wrap">
                                                                                <h5 class="title">2021</h5>
                                                                            </div>
                            
                                                                            <div class="timeline-image">
                                                                                <img
                                                                                    src="assets/images/courses/360/course-1.jpg" alt="Course Image">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class=" col-lg-6 col-md-6 timeline-col right timeline-info">
                                                                        <div class="inner">
                                                                            <div class="timeline-content-wrap">
                                                                                <div class="timeline-content-body">
                                                                                    <div class="blog">
                                                                                        <div class="thumbnail">
                                                                                            <h3 class="title">Organization and delivery of vocational training in civil works for unemployed people 
                                                                                            </h3>
                                                                                        </div>
                                                                                        <div class="info" style="padding-top: 5px;">
                                                                                            <ul class="meta">
                                                                                                <li><i class="far fa-calendar"></i>Apr 06, 2020</li>
                                                                                                <li><i class="far fa-map-marker-alt"></i>Mousl, Iraq</li>
                                                                                                <li><i class="far fa-hands-helping"></i>Mousl, Iraq</li>

                                                                                            </ul>
                                                                                            <p>Identify the fresh graduated and unemployed people in and implement small business development and vocational training for them to start the project and encourage them to create their livelihoods .
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                
                                                                                </div>
                                                                            </div>
                                                                        </div>
                            
                                                                    </div>
                                                                
                                                                </div>
                                                            </li> 
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div id="currentproject" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="mx-timeline">
                                                <ul class="mx-timeline-list mx-animation-queue">
                                                   
                                                    <li class="line"></li>
                                                    <li class="item animate">
                                                        <div class="dots">
                                                            <div class="middle-dot"></div>
                                                        </div>
                    
                                                        <div class="row">
                                                            
                                                            <div class="col-lg-6 col-md-6 timeline-col left timeline-feature">
                                                                <div class="inner">
                                                                    <div class="title-wrap">
                                                                        <h5 class="title">2021</h5>
                                                                    </div>
                    
                                                                    <div class="timeline-image">
                                                                        <img
                                                                            src="assets/images/courses/360/course-1.jpg" alt="Course Image">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class=" col-lg-6 col-md-6 timeline-col right timeline-info">
                                                                <div class="inner">
                                                                    <div class="timeline-content-wrap">
                                                                        <div class="timeline-content-body">
                                                                            <div class="blog">
                                                                                <div class="thumbnail">
                                                                                    <h3 class="title">Organization and delivery of vocational
                                                                                        training in civil works for unemployed people
                                                                                    </h3>
                                                                                </div>
                                                                                <div class="info" style="padding-top: 5px;">
                                                                                    <ul class="meta">
                                                                                        <li><i class="far fa-calendar"></i>Apr 06, 2020</li>
                                                                                        <li><i class="far fa-map-marker-alt"></i>Mousl, Iraq</li>
                                                                                    </ul>
                                                                                    <p>Identify the fresh graduated and unemployed people in and implement small business development and vocational training for them to start the project and encourage them to create their livelihoods .
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        
                                                                        </div>
                                                                    </div>
                                                                </div>
                    
                                                            </div>
                                                        
                                                        </div>
                                                    </li> 
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                             
                            </div>

                            
                        </div>
                        <!-- Course Details Wrapper End -->
                    </div>

                </div>
            </div>
        </div> 
        <div class="about-section section" style="padding: 50px;">
            <div class="container">
    
    
                <div class="row">
                    <div class="col-12">
                        <div class="event-content">
    
    
    
    
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-padding-bottom" style="padding-top: 50px;">
            <div class="container">
    
                <!--  media Bar Start -->
                <div class="row justify-content-between align-items-center max-mb-20">
                    <div class="col-sm-auto col-12 max-mb-10">
                        <p class="result-count">Latest Media</p>
                    </div>
    
                </div>
                <!-- media Top Bar End -->
    
                <!-- media  Start -->
                <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1 max-mb-n30">
        
                    <div class="col max-mb-30">
                        <div class="media-6">
                            <div class="thumbnail">
                                <a class="image" href="media-details.html">
                                    <img src="assets/images/courses/385/course-2.jpg" alt="">
                                    <div class="media-overlay-bg"></div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="media-caption-main">
                                    <a class="category" style="color: white;">Articles & Tips</a>
                                    <ul class="meta">
                                        <li><i class="far fa-map-marker-alt"></i>Ninewa Governorate</li>
                                        <li><i class="far fa-calendar"></i>12 Nov 2022 </li>
                                    </ul>
                                    <h3 class="title"><a href="media-details.html">Organization and delivery of vocational training  </a></h3>
                                </div>
                                <div class="media-caption-collapse">
                                   
                                    <div class="desc">
                                        <p>The purpose of this course is to provide the advanced writing techniques commonly used for inspiring readers and …</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30">
                        <div class="media-6">
                            <div class="thumbnail">
                                <a class="image" href="media-details.html">
                                    <img src="assets/images/courses/385/course-2.jpg" alt="">
                                    <div class="media-overlay-bg"></div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="media-caption-main">
                                    <a class="category" style="color: white;">Articles & Tips</a>
                                    <ul class="meta">
                                        <li><i class="far fa-map-marker-alt"></i>Ninewa Governorate</li>
                                        <li><i class="far fa-calendar"></i>12 Nov 2022 </li>
                                    </ul>
                                    <h3 class="title"><a href="media-details.html">Organization and delivery of vocational training  </a></h3>
                                </div>
                                <div class="media-caption-collapse">
                                   
                                    <div class="desc">
                                        <p>The purpose of this course is to provide the advanced writing techniques commonly used for inspiring readers and …</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30">
                        <div class="media-6">
                            <div class="thumbnail">
                                <a class="image" href="media-details.html">
                                    <img src="assets/images/courses/385/course-2.jpg" alt="">
                                    <div class="media-overlay-bg"></div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="media-caption-main">
                                    <a class="category" style="color: white;">Articles & Tips</a>
                                    <ul class="meta">
                                        <li><i class="far fa-map-marker-alt"></i>Ninewa Governorate</li>
                                        <li><i class="far fa-calendar"></i>12 Nov 2022 </li>
                                    </ul>
                                    <h3 class="title"><a href="media-details.html">Organization and delivery of vocational training  </a></h3>
                                </div>
                                <div class="media-caption-collapse">
                                   
                                    <div class="desc">
                                        <p>The purpose of this course is to provide the advanced writing techniques commonly used for inspiring readers and …</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col max-mb-30">
                        <div class="media-6">
                            <div class="thumbnail">
                                <a class="image" href="media-details.html">
                                    <img src="assets/images/courses/385/course-2.jpg" alt="">
                                    <div class="media-overlay-bg"></div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="media-caption-main">
                                    <a class="category" style="color: white;">Articles & Tips</a>
                                    <ul class="meta">
                                        <li><i class="far fa-map-marker-alt"></i>Ninewa Governorate</li>
                                        <li><i class="far fa-calendar"></i>12 Nov 2022 </li>
                                    </ul>
                                    <h3 class="title"><a href="media-details.html">Organization and delivery of vocational training  </a></h3>
                                </div>
                                <div class="media-caption-collapse">
                                   
                                    <div class="desc">
                                        <p>The purpose of this course is to provide the advanced writing techniques commonly used for inspiring readers and …</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                
    
                </div>
                <!-- media  End -->
    
    
                <div class="row max-mt-50">
                    <div class="col text-center">
                        <a href="JavaScript:Void(0);" class="btn btn-outline-primary load-more-btn">Read More <i
                                class="far fa-long-arrow-right ms-3"></i></a>
                    </div>
                </div>
    
            </div>
        </div>
        <!-- media Section End -->
        {% endblock body %}