<li class="line"></li>
<li class="item animate">
    <div class="dots">
        <div class="middle-dot"></div>
    </div>

    <div class="row">
        
    
        <li class="line"></li>
        <div class="col-lg-6 col-md-6 timeline-col left timeline-feature">
            <div class="inner">
               

                <div class="timeline-image">
                    <img
                        src="assets/images/courses/360/course-1.jpg" alt="Course Image">
                </div>
            </div>
        </div>
        <div class=" col-lg-6 col-md-6 timeline-col right timeline-info">
            <div class="inner">
                <div class="timeline-content-wrap">
                    <div class="timeline-content-body">
                        <div class="blog">
                            <div class="thumbnail">
                                <h3 class="title">Improve Community Resilience to Prevent Violent Extremism 

                                </h3>
                            </div>
                            <div class="info" style="padding-top: 5px;">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i>11/2021 – 1/2021 </li>
                                    <li><i class="far fa-map-marker-alt"></i>Anbar and Salah Al-Din Governorates</li>
                                    <li><i class="far fa-hands-helping"></i>  UPP – UNDP – GIZ</li>

                                </ul>
                                <p>Capacity building of local officials, community leaders, civil society, and peace actors developed to prevent violent extremism through law enforcement, education, and community awareness and establish knowledge-sharing mechanisms.
                                </p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>

        </div>
        <li class="line"></li>

        <div class=" col-lg-6 col-md-6 timeline-col right timeline-info">
            <div class="inner">
                <div class="timeline-content-wrap">
                    <div class="timeline-content-body">
                        <div class="blog">
                            <div class="thumbnail">
                                <h3 class="title">Social Cohesion and Women’s Economic Empowerment



                                </h3>
                            </div>
                            <div class="info" style="padding-top: 5px;">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i>10/2021 – 5/2022 </li>
                                    <li><i class="far fa-map-marker-alt"></i> Kirkuk  Governorate
                                    </li>
                                    <li><i class="far fa-hands-helping"></i>  Al-Ghad League for Woman and Child Care</li>

                                </ul>
                                <p>Strengthening social cohesion of Target areas and Women’s Economic Empowerment  through delivering vocational training and Support Intra& inter-community-based organizations on conflict resolution strategies through training, and dialogues.
                                </p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>

        </div>

        <div class=" col-lg-6 col-md-6 timeline-col right timeline-info">
            <div class="inner">
                <div class="timeline-content-wrap">
                    <div class="timeline-content-body">
                        <div class="blog">
                            <div class="thumbnail">
                                <h3 class="title">Improving child protection environment for conflict affected

                                </h3>
                            </div>
                            <div class="info" style="padding-top: 5px;">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i>10/2021 – 5/2022 </li>
                                    <li><i class="far fa-map-marker-alt"></i> Ninewa Governorates
                                    </li>
                                    <li><i class="far fa-hands-helping"></i>   Polus Center for Social & Economic Development</li>

                                </ul>
                                <p>Supporting the children and in needs and rehabilitating them through PSS, case management , PTSD (Post Traumatic Stress Syndrome ) and  expressive art therapy activities.

                                </p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>

        </div>
        <div class=" col-lg-6 col-md-6 timeline-col right timeline-info">
            <div class="inner">
                <div class="timeline-content-wrap">
                    <div class="timeline-content-body">
                        <div class="blog">
                            <div class="thumbnail">
                                <h3 class="title">Integrated protection and education assistance to vulnerable families


                                </h3>
                            </div>
                            <div class="info" style="padding-top: 5px;">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i>3/2021 – 10/2021 </li>
                                    <li><i class="far fa-map-marker-alt"></i> Salah Al-Din Governorates
                                    </li>
                                    <li><i class="far fa-hands-helping"></i>   Dorothea Haus Ross Foundation</li>

                                </ul>
                                <p>To improve the protection, well-being and resilience of vulnerable children and adolescents within their community and enhance access to education opportunities for vulnerable children and adolescents .
                                </p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>

        </div>
        <li class="line"></li>

        <div class=" col-lg-6 col-md-6 timeline-col right timeline-info">
            <div class="inner">
                <div class="timeline-content-wrap">
                    <div class="timeline-content-body">
                        <div class="blog">
                            <div class="thumbnail">
                                <h3 class="title"> Building Resilience for children and their families
                                </h3>
                            </div>
                            <div class="info" style="padding-top: 5px;">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i>1/2021 – 8/2022 </li>
                                    <li><i class="far fa-map-marker-alt"></i> Diyala Governorate

                                    </li>
                                    <li><i class="far fa-hands-helping"></i>   SIR BOBBY CHARLTON Foundation</li>

                                </ul>
                                <p>Improve the well-being of children affected by conflict and the COVID-19 context through provision of child protection services , GBV and legal support of them .
                                </p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>

        </div>
        <div class=" col-lg-6 col-md-6 timeline-col right timeline-info">
            <div class="inner">
                <div class="timeline-content-wrap">
                    <div class="timeline-content-body">
                        <div class="blog">
                            <div class="thumbnail">
                                <h3 class="title"> Building Resilience for children and their families
                                </h3>
                            </div>
                            <div class="info" style="padding-top: 5px;">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i>1/2021 – 8/2022 </li>
                                    <li><i class="far fa-map-marker-alt"></i> Diyala Governorate

                                    </li>
                                    <li><i class="far fa-hands-helping"></i>   SIR BOBBY CHARLTON Foundation</li>

                                </ul>
                                <p>Improve the well-being of children affected by conflict and the COVID-19 context through provision of child protection services , GBV and legal support of them .
                                </p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>

        </div>
    </div>
</li> 