{% extends 'base.html' %}
{% block body %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="page-title-section section">
    <div class="page-title">

    </div>
    <div class="page-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home:index' %}">{% trans "Home" %}</a></li>
        
                <li class="current">{% trans "What We Are Doing" %}</li>

            </ul>
        </div>
    </div>
</div>
<!-- Page Title Section End -->
<!-- page banner image Section Start -->
<div class="section  fix">
    <div class="container">
        <div class="row max-mb-n50">

            <div class="col-lg-12 col-12 order-lg-1 max-mb-50">
                <div class="row row-cols-1 g-0">

                    <div class=" col" data-aos="fade-up">

                        {% for item in data %}

                        <!-- Page Banner Section Start -->
                        <div class="page-banner-section section overlay section-padding"
                            data-bg-image="{{ item.image_bg_whatWeAreDoing}}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-banner-title ashor-banner-title" style="padding: 50px;">

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}



                    </div>
                </div>
            </div>


        </div>
    </div>


</div>
<!-- page banner image Section Start -->


<!-- what we are doing Section Start -->
<div class="section" style="padding-top: 50px;">
    <div class="container">

        <!-- Section Title Start -->
        <div class="section-title" data-aos="fade-up">
            {% for item in data %}
            <p class="desc">       {% if LANGUAGE_CODE == 'en' %}{{item.text_WhatWeAreDoing}}
                {% elif LANGUAGE_CODE == 'ar' %}{{item.text_WhatWeAreDoing_ar}}
                {% elif LANGUAGE_CODE == 'de' %}{{item.text_WhatWeAreDoing_dr}}{% endif %}
            </p>
            {% endfor %}

        </div>
        <!-- Section Title End -->

        <!-- project Section Start --> 
        <div class="team-section section section-padding-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="team-image-wrap">
                         
                            <div class="team-image">    {% for item in data %}
                                <img src="{{ item.image_bg_whatWeAreDoing_project}}" alt="team">
                                {% endfor %}
                            </div>
                           


                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="about-content team-content mt-sm-50 mt-xs-50">
                            <h2 class="title">Ashor<span> {% trans "Project" %}</span> </h2>{% for item in data %}
                            <p>
                                {% if LANGUAGE_CODE == 'en' %}{{item.text_project}}
                                {% elif LANGUAGE_CODE == 'ar' %}{{item.text_project_ar}}
                                {% elif LANGUAGE_CODE == 'de' %}{{item.text_project_dr}}{% endif %}
         

                            </p>  {% endfor %}
                            <a href="{% url 'what_we_are_doing:project' %}" class="btn btn-primary btn-hover-secondary"> {% trans "LEARN MORE" %}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>                             

        <!-- project Section End -->


    </div>
</div>
<!-- About Event Section Start -->
<div class="about-section section">
    <div class="container">


        <div class="row">
            <div class="col-12">
                <div class="event-content">





                </div>
            </div>
        </div>
    </div>
</div>


<div class="teaching-section section section-padding-top section-padding-bottom-70" data-bg-color="#f5f5f5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8">
                <div class="testimonial-area mb-md-50 mb-sm-30 mb-xs-30">
                    <div class="row">
                        
                        <div class="col-md-6">
                            <!-- Static Testimonial Start -->
                            <div class="static-testimonial">
                                <div class="testimonial-image">
                                    <div class="icon"><img class="svgInject"
                                            src="assets/images/svg/linea/linea-basic-flag2.svg" alt=""></div>
                                </div>
                                <div class="testimonial-content">
                                    <p>{% trans "A complex process of constructively changing relationships, attitudes,behaviours,interests and discourses in violence-prone conflict settings. Importantly,conflict." %}
                                    </p>
                                </div>
                                <div class="author-info">
                                    <div class="cite">
                                        <h6 class="name">{% trans "Economic Development and Resources Diversification" %}</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 pr-100 pr-md-15 pr-sm-15 pr-xs-15">
                            <div class="testimonial-rating-area">
                                <div class="icon"><img class="svgInject"
                                        src="assets/images/svg/linea/linea-basic-flag2.svg" alt=""></div>

                                <div class="author-info" style="padding-top: 10px;">
                                    <div class="cite">
                                        <h6 class="name">{% trans "Gender Equality and Mainstreaming" %}
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Static Testimonial Start -->
                            <div class="static-testimonial">
                                <div class="icon"><img class="svgInject"
                                        src="assets/images/svg/linea/linea-basic-flag2.svg" alt=""></div>
                                <div class="testimonial-content">
                                    <p>{% trans "A complex process of constructively changing relationships, attitudes, behaviours, interests and discourses" %}
                                    </p>
                                </div>
                                <div class="author-info">
                                    <div class="cite">
                                        <h6 class="name">{% trans "Gender Equality" %}</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Static Testimonial End -->
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xl-4">
                <div class="teaching-content">
                    <!-- Section Title Start -->
                    <div class="section-title text-left mb-15" data-aos="fade-up">
                        <h2 class="title fz-48">Ashor <span> {% trans "Themes" %}</span></h2>
                    </div>
                    <!-- Section Title End -->{% for item in data %}
                    <p>
                        {% if LANGUAGE_CODE == 'en' %}{{item.text_themes}}
                        {% elif LANGUAGE_CODE == 'ar' %}{{item.text_themes_ar}}
                        {% elif LANGUAGE_CODE == 'de' %}{{item.text_themes_dr}}{% endif %}</p>{% endfor %}
                    <a href="{% url 'what_we_are_doing:themes' %}" class="btn btn-primary btn-hover-secondary mt-30">{% trans "READ MORE" %} </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-padding-bottom" style="padding-top: 50px;">
    <div class="container">

        <!--  media Bar Start -->
        <div class="row justify-content-between align-items-center max-mb-20">
            <div class="col-sm-auto col-12 max-mb-10">
                <p class="result-count">{% trans "Latest Media" %}</p>
            </div>

        </div>
        <!-- media Top Bar End -->

        <!-- media  Start -->
        <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1 max-mb-n30">
            {% for item in media  %}
            {% if forloop.counter < 5 %} 
            <div class="col max-mb-30">
                <div class="media-6">
                    <div class="thumbnail">
                        <a class="image" href="{% url 'media:media_detail' item.id %}">
                            <img src="{{item.media_image.url}}" height="350px" style="object-fit: cover;" alt="">
                            <div class="media-overlay-bg"></div>
                        </a>
                    </div>
                    <div class="info">
                        <div class="media-caption-main">
                            <a class="category" style="color: white;"> {% if LANGUAGE_CODE == 'en' %}{{ item.category.en_name }}
                                {% elif LANGUAGE_CODE == 'ar' %} {{ item.category.ar_name }}
                                {% elif LANGUAGE_CODE == 'de' %} {{ item.category.dr_name }}{% endif %}</a>
                            <ul class="meta">
                                <li><i class="far fa-map-marker-alt"></i> {% if LANGUAGE_CODE == 'en' %}{{ item.media_location }}
                                    {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_location_ar }}
                                    {% elif LANGUAGE_CODE == 'de' %} {{ item.media_location_dr }}{% endif %}</li>
                                <li><i class="far fa-calendar"></i>{{item.date|date:'d M o'}}</li>
                            </ul>
                            <h3 class="title"><a href="{% url 'media:media_detail' item.id %}"> {% if LANGUAGE_CODE == 'en' %}{{ item.media_name }}
                                {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_name_ar }}
                                {% elif LANGUAGE_CODE == 'de' %} {{ item.media_name_dr }}{% endif %}</a></h3>
                        </div>
                        <div class="media-caption-collapse">
                           
                            <div class="desc">
                                <p> {% if LANGUAGE_CODE == 'en' %}{{ item.media_desc1 }}
                                    {% elif LANGUAGE_CODE == 'ar' %} {{ item.media_desc1_ar }}
                                    {% elif LANGUAGE_CODE == 'de' %} {{ item.media_desc1_dr }}{% endif %}…</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
         
            {% endif %} {% endfor %}


        </div>
        <!-- media  End -->


        <div class="row max-mt-50">
            <div class="col text-center">
                <a href="{% url 'media:media' %}" class="btn btn-outline-primary load-more-btn">{% trans "Read More" %} <i
                        class="far fa-long-arrow-right ms-3"></i></a>
            </div>
        </div>

    </div>
</div>

{% endblock body %}